.wrapper {
  @apply mx-4 my-4 flex flex-1;
}

.card {
  @apply p-0 transition-shadow duration-200 bg-gray-100 text-dark-text
    rounded-lg shadow-sm border flex flex-col flex-1 overflow-hidden;

  * {
    @apply text-dark-text font-extralight;
  }
}

.header {
  @apply border-b ;
}

.image {
  @apply mt-0 mx-auto p-1 flex justify-center overflow-hidden bg-gray-50;

  img {
    max-width: 100%;
    max-height: 80px;
    object-fit: contain;
  }
}

.title {
  @apply text-xl mt-3 font-semibold text-stripe-navy mb-0;
}

.content {
  @apply font-extralight my-2;
}

.lowerContent {
  @apply pb-5 px-5 border-t;
}

.linkWrapper {
  @apply mt-3;
}

.link {
  @apply text-stripe-purple hover:underline font-normal text-sm;
}

.linkText {
  @apply font-normal flex flex-row place-items-center gap-2 text-[var(--mid-gray)];
}

.icon {
  @apply font-normal;
}
