.container {
  @apply relative;

  ul {
    @apply mt-12;
    li {
      @apply list-none ml-0 mb-1 text-mid-gray;
    }
  }
}

.desktopLayout {
  @apply hidden lg:grid lg:grid-cols-2 lg:gap-8 mx-auto;
}

// Adjust this value to nudge the first image
.imageContainerScrolling {
  @apply absolute top-[-38vh];
}

.leftColumn {
  @apply space-y-16 pb-16;
}

.rightColumn {
  @apply relative pb-32 pt-[20vh];
}

.contentItem {
  @apply min-h-[30vh] flex items-center;
}

.contentWrapper {
  @apply w-full;
}

.imageContainer {
  @apply w-full h-screen flex items-center justify-center;
}

.imageContainerFixed {
  @apply fixed top-1/2 -translate-y-1/2;
}

.imageContainerScrollingOut {
  @apply absolute;
}

.imageWrapper {
  @apply relative w-full h-[60vh] max-w-2xl;
}

.imageSlide {
  @apply absolute inset-0 transition-opacity duration-500 flex items-center justify-center;
}

.imageSlideActive {
  @apply opacity-100;
}

.imageSlideInactive {
  @apply opacity-0;
}

.image {
  @apply w-full h-full object-contain;
}

.sceneScaleToFit {
  @apply max-w-full max-h-full;
  width: fit-content;
  height: fit-content;

  > * {
    @apply max-w-full max-h-full;
  }
}

.mobileLayout {
  @apply lg:hidden  py-16 space-y-16;
}

.mobilePair {
  @apply space-y-8;
}

.mobileContent {
  @apply max-w-none;
}

.mobileImageWrapper {
  @apply w-full aspect-video flex items-center justify-center;
}

.mobileImage {
  @apply w-full h-full object-contain;
}
