

.header {
  @apply fixed top-0 left-0 right-0 bg-header-footer text-white z-50;
  button, a {
    @apply text-white font-light hover:text-white no-underline;
  }
}

.nav {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative;
}

.navContent {
  @apply flex justify-between items-center h-16;
}

.logoContainer {
  @apply flex items-start;
}

.logo {
  @apply text-2xl font-bold text-stripe-navy mt-[18px];
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &::before {
    content: '';
    display: inline-block;
    width: 110px;
    height: 50px;
    background-image: url('../../../public/ziggy-logo-dark-bg.webp');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.desktopNav {
  @apply hidden md:flex items-center;

  @media (max-width: 1099px) {
    button, a {
      font-size: 0.9rem;
    }
  }
}

.ctaButtons {
  @apply hidden md:flex items-center space-x-4;

  @media (max-width: 1099px) {
    a {
      font-size: 0.7rem;
    }
  }
}

.ctaButton {
  @apply px-5 py-2 rounded-lg bg-stripe-purple text-white hover:opacity-90 transition-opacity duration-200 no-underline;
}

.mobileMenuButton {
  @apply md:hidden;
}

.menuToggle {
  @apply text-stripe-navy p-2;
}

.menuIcon {
  @apply w-6 h-6;
}

.mobileNav {
  @apply md:hidden py-4 border-t border-gray-100;
}

.mobileNavContent {
  @apply flex flex-col space-y-4 no-underline;
}

.mobileCtaButton {
  @apply px-5 py-2 rounded-full bg-stripe-purple text-white hover:opacity-90 transition-opacity duration-200 text-center;
}
