@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 37, 64;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  //Colors
  --dark-gray: rgb(66, 84, 102);
  --mid-gray: #68748a;
  --pale-gray: #8e9cb3;
  --default-text: rgb(66, 84, 102);
  --dark-text: rgb(10, 37, 64);
  --hover-default-color: rgb(99, 91, 255);

  //Text
  --text-spacing-standard: "0.5px";
  --text-spacing-tight: "0.2px";
}

body {
  padding: 0;
  letter-spacing: 0.2px;
  color: var(--default-text);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: var(--hover-default-color);
  transition: color 0.2s ease;

  &:hover {
    color: var(--mid-gray);
  }
}

p {
  @apply text-[1.05rem] mb-[1rem] leading-[1.6rem];
}


h1, h2, h3, h4, h5, h6 {
  @apply text-[var(--dark-text)] font-semibold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-section {
  @apply py-[40px] bg-red-50;
}

.spaced-letters-small {
  @apply font-normal text-[var(--dark-gray)];
}

.link-text-small {
  @apply font-normal flex flex-row place-items-center gap-2 text-[var(--mid-gray)];
}

.image-treat-rounded {
  @apply rounded-lg shadow-sm;
}

.section-title {
  @apply text-3xl font-semibold mb-2;
}

.section-title-text {
  @apply text-base text-[var(--dark-gray)] max-w-[600px] my-[30px];
}

.hero-list {
  @apply text-2xl mt-[40px] text-[var(--mid-gray)];
  li {
    @apply my-5;
    span {
      @apply font-semibold;
    }
  }
}

.dropdown-item {
  @apply flex flex-row gap-0 place-items-center;
  a {
    @apply px-3 py-2 rounded-md hover:bg-stripe-light-bg transition-all duration-150;
  }
  .label {
    @apply font-medium text-stripe-navy;
  }
  .description {
    @apply text-sm max-w-[300px] text-stripe-gray mt-0.5 leading-[1rem];
  }
}

.section-intro {
  @apply flex flex-col max-w-[600px];
  h2 {
    @apply font-semibold text-[2.3rem] mb-4;
  }
}
