@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 37, 64;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  //Colors
  --dark-gray: rgb(66, 84, 102);
  --mid-gray: #68748a;
  --pale-gray: #8e9cb3;

  //Text
  --small-text-spacing: "0.5px";
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-section {
  @apply py-[40px];
}

.spaced-letters-small {
  @apply font-normal tracking-[0.4px] text-[var(--dark-gray)] leading-[var(--small-text-spacing)] ;
}

.link-text-small {
  @apply font-normal tracking-[0.3px] flex flex-row place-items-center gap-2 text-[var(--mid-gray)];
}

.image-treat-rounded {
  @apply rounded-lg shadow-sm
}

.section-title {
  @apply text-3xl font-semibold mb-2 tracking-[0.2px]
}

.section-title-text {
  @apply text-base tracking-[0.2px] text-[var(--dark-gray)] max-w-[600px] my-[30px]
}

.hero-list {
  @apply text-2xl text-[var(--mid-gray)];
  li {
    @apply my-5;
  }
}
