.container {
  @apply flex flex-col gap-16 w-full;
}

.textRow {
  @apply flex;

  &.swapped {
    @apply flex-row-reverse;
  }
}

.textColumn {
  @apply flex-1;
}

.title {
  @apply text-4xl font-normal mb-6;
}

.subtitle {
  @apply text-2xl font-light text-gray-600;
}

.imageRow {
  @apply flex gap-16 items-center;

  &.swapped {
    @apply flex-row-reverse;
  }
}

.imageColumn {
  width: 50%;
}

.image {
  @apply w-full h-auto object-cover rounded-lg;
}

.imageCopyColumn {
  width: 50%;
  position: relative;
  z-index: 1;

  p {
    @apply text-xl;
  }

  ul {
    @apply my-6 text-sm ml-4;
  }
  li {
    @apply text-lg text-gray-500 list-disc list-outside my-2;
  }

  a {
    position: relative;
    z-index: 10;
  }
}
