.container {
  @apply flex flex-col gap-0 w-full mt-[0px];
}

.textRow {
  @apply flex gap-16;

  &.swapped {
    @apply flex-row-reverse;
  }
}

.textColumn {
  @apply flex-1;
}

.title {
  @apply text-4xl font-normal mb-6;
}

.subtitle {
  @apply text-2xl font-light text-gray-600;
}

.imageRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;

  &.swapped {
    .headerSection {
      grid-column: 2;
      grid-row: 1;
    }
    .imageColumn {
      grid-column: 1;
      grid-row: 1 / 3;
    }
    .subCopy {
      grid-column: 2;
      grid-row: 2;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &.swapped {
      .headerSection {
        order: 1;
      }
      .imageColumn {
        order: 2;
      }
      .subCopy {
        order: 3;
      }
    }
  }
}

.headerSection {
  grid-column: 1;
  grid-row: 1;

  @media (max-width: 768px) {
    order: 1;
  }
}

.imageColumn {
  grid-column: 2;
  grid-row: 1 / 3;

  @media (max-width: 768px) {
    order: 2;
  }
}

.subCopy {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  grid-column: 1;
  grid-row: 2;

  p {
    @apply text-lg;
  }

  ul {
    @apply my-6 text-sm ml-4;
  }
  li {
    @apply text-lg text-gray-500 list-disc list-outside my-2;
  }

  a {
    position: relative;
    z-index: 10;
  }

  @media (max-width: 768px) {
    order: 3;
  }
}

.imageWrapper {
  @media (max-width: 768px) {
    max-width: 100% !important;
    width: 100% !important;
  }
}

.image {
  @apply w-full h-auto object-cover rounded-lg;
}
