.stackCard {
  @apply relative overflow-hidden rounded-lg shadow-md bg-white transition-all duration-300;
  h2 {
    @apply text-[1.5rem];
  }

  &:hover {
    @apply shadow-2xl;
  }
}

.graphicLayer {
  @apply relative z-10 px-0 pt-0;
}

.graphicContainer {
  @apply relative h-[350px] overflow-hidden rounded-b-lg shadow-lg transition-all duration-300 border-gray-200 brightness-75;

  .stackCard:hover & {
    @apply h-[310px];
  }
}

.gradientOverlay {
  @apply absolute inset-0 z-[1] opacity-0 transition-opacity duration-300;
}

.graphicImage {
  @apply relative z-[2] h-full w-full object-contain object-top transition-all duration-300 ;
}

.contentLayer {
  @apply relative z-20 px-8 pt-8;
}

.badge {
  @apply mb-4 flex items-center gap-3;
}

.badgeIcon {
  @apply flex h-10 w-10 items-center justify-center rounded-lg bg-white/90 shadow-sm;
}

.badgeLabel {
  @apply rounded-md bg-white/90 px-3 py-1.5 shadow-sm;

  span {
    @apply text-sm font-medium text-slate-800;
  }
}

.title {
  @apply mb-3 text-3xl font-semibold text-slate-900 lg:text-4xl;
}

.description {
  @apply text-slate-700;
}

.ctaWrapper {
  @apply h-0 overflow-hidden transition-all duration-300 text-[0.8rem] ;

  .stackCard:hover & {
    @apply h-[40px];
  }
}

.ctaLink {
  @apply mt-0 inline-flex items-center gap-2 font-medium text-indigo-600 opacity-0 transition-all duration-300;

  .stackCard:hover & {
    @apply opacity-100;
  }

  &:hover {
    @apply gap-3;
  }
}

.ctaArrow {
  @apply transition-transform duration-300;
}
